@import "../../styles/base.scss";

.sign-in-sign-up {
  margin: 30px auto;

  .group {
    margin: 15px 0;
  }

  button {
    padding: 0 25px;
  }
}

@media screen and (min-width: $md) {
  .sign-in-sign-up {
    display: flex;
    justify-content: space-between;
  }
}
