@import '../../styles/base.scss';

.sign-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .title {
    margin: 10px 0;
  }

  .sign-in-footer {
    display: flex;
    justify-content: space-between;
  }
}

.sign-in {
@media screen and (min-width: $md) {
    margin-bottom: 0;
    width: 48%;
  }
}
