@import '../../styles/base.scss';

.sign-up {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $md) {
  .sign-up {
    width: 48%;
  }
}
