@import "../../styles/base.scss";

.collection-preview {
  margin-bottom: 30px;

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
    &:nth-child(2n) {
      margin-left: auto;
    }
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: $md) {
  .collection-preview {
    display: flex;
    flex-direction: column;

    .preview {
      display: flex;
      justify-content: space-between;

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }
}
