@import "../../styles/base.scss";

.collection-preview {
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: $md) {
  .collection-preview {
    display: flex;
    flex-direction: column;

    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
}
